// INDEX CSS FOR HOMPAGE (LANDING PAGE) !!
#index-main {
  background: rgb(3, 2, 13);
  background: linear-gradient(
    311deg,
    rgba(3, 2, 13, 1) 0%,
    rgba(10, 37, 69, 1) 51%,
    rgba(45, 70, 177, 1) 100%
  );
}

h1 {
  color: lightblue;
}
