#artist-main {
  position: relative;
  background-color: #121212;
}

#artist-main h1 {
  color: lightpink;
}

#artist-main .col.border {
  padding-left: 0px;
}

#artist-main #header {
  height: 45vh;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#artist-main #header img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 45vh;
}

#artist-main .artist-wrapper {
  position: absolute;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

#artist-main #header::before {
  content: "";
  display: inline-block;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#121212));
  background: linear-gradient(transparent, #121212);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#artist-main .header-tile-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#artist-main .artist-title {
  font-weight: 600;
  margin-bottom: 1rem;
}

#artist-main .artist-title p:first-of-type {
  color: #6c757d;
  margin: 0px;
  font-size: 0.7rem;
}

#artist-main .band-name {
  font-size: 4rem;
  color: white;
  font-weight: 700;
}

#artist-main .artist-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3rem;
}

#artist-main .button-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#artist-main .artist-body button {
  margin-right: 1rem;
}

#artist-main .artist-body-more {
  text-decoration: none;
  height: 40px;
  font-weight: 800;
  color: white;
}

#artist-main .artist-body-more:hover {
  text-decoration: none;
  color: white;
}

#artist-main button {
  color: white;
  height: 40px;
  width: 130px;
  border-radius: 20px;
}

#artist-main .artist-btn-play {
  background-color: #2ed760;
  border: solid 2px transparent;
}

#artist-main .artist-btn-follow {
  width: 150px;
  background-color: transparent;
  border: solid 2px #ffffff;
}

#artist-main .artist-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#artist-main .artist-footer a {
  display: inline-block;
  font-weight: 700;
  font-size: 0.7rem;
  text-decoration: none;
  color: #6c757d;
  position: relative;
}

#artist-main #mobile-header {
  display: none;
}

#artist-main #albums {
  margin-bottom: 125px;
}

#artist-main #pop {
  display: none;
}

#artist-main #col-album {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

#artist-main h2 {
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 2rem;
}

#artist-main #albums h5 {
  display: none;
}

#artist-main .tile {
  text-align: center;
  margin-right: 1rem;
  margin-bottom: 2rem;
  background-color: #191919;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

#artist-main .tile:hover {
  background-color: #282828;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#artist-main .tile-content {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0.8rem;
}

#artist-main .card {
  min-width: 100px;
  max-width: 200px;
  margin-bottom: 0.5rem;
}

#artist-main .tile-body {
  margin: 0.5rem 1rem 1.5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  max-width: 150px;
}

#artist-main .tile-body p {
  margin-bottom: 0px;
}

#artist-main .tile-body p:first-of-type {
  color: white;
  font-weight: 700;
}

#artist-main .tile-body p:last-of-type {
  color: #6c757d;
  font-size: 0.8rem;
}

@media only screen and (max-width: 768px) {
  #artist-main #header {
    height: 60vh;
  }
  #artist-main #header::before {
    display: none;
  }
  #artist-main #header img {
    display: none;
  }
  #artist-main .artist-wrapper {
    display: none;
  }
  #artist-main .tile-body p:last-of-type {
    display: none;
  }
  #artist-main #mobile-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    color: white;
  }
  #artist-main #albums {
    text-align: center;
  }
  #artist-main #mobile-artist-photo {
    width: 152px;
    height: 152px;
    border-radius: 50%;
    background-image: url("../../assets/artist-top-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  #artist-main #artist-btn-shuffle {
    height: 50px;
    width: 213px;
    border: 1px solid transparent;
    border-radius: 24px;
    background-color: #2ed760;
    margin-bottom: 2rem;
  }
  #artist-main #mobile-header p:last-of-type {
    margin-bottom: 2rem;
  }
  #artist-main #pop {
    display: block;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #artist-main .pop-tile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #artist-main .pop-tile-img {
    margin-right: 1rem;
  }
  #artist-main .pop-tile-img img {
    height: 56px;
    width: 56px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #artist-main .pop-tile-info {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  #artist-main #pop-tile-img img {
    height: 134px;
    width: 134px;
  }
  #artist-main .tile-body {
    display: none;
  }
  #artist-main #albums h2 {
    display: none;
  }
  #artist-main #albums h5 {
    color: white;
    display: block;
  }
}

#artist-main .muted {
  color: #6c757d;
  font-size: 0.8rem;
}
/*# sourceMappingURL=artist.css.map */